@using BillingMVC.Web.Models.Enum
@model BillViewModel

<form method="post" asp-controller="Bill" asp-action="Create">
    <div asp-validation-summary="All"></div>
    <div class="row mt-3">
        <div class="col-6">
            <label asp-for="Name" class="form-label"></label>
            <textarea asp-for="Name"
                      class="form-control mt-2"
                      style="height: 50px; overflow-y: auto;"
                      placeholder="Nome da despesa"></textarea>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="col-6">
            <label asp-for="ExpirationDate" 
                   class="form-label">Vencimento</label>
            <input asp-for="ExpirationDate" 
                   class="form-control w-100 mt-2" 
                   type="date" />
        </div>

    </div>

    <div class="row mt-3">
        <div class="col-12">
            <label asp-for="Type" class="form-label">Tipo</label>
            <select asp-for="Type" 
                    asp-items="@Html.GetEnumSelectList<BillTypeVM>()" 
                    class="form-control w-100 mt-2" ></select>
        </div>

    </div>

    <div class="row mt-3">
        <div class="col-12">
            <label asp-for="Source" class="form-label"></label>
            <textarea asp-for="Source"
                      class="form-control mt-2"
                      style="height: 50px; overflow-y: auto;"
                      placeholder="Origem"></textarea>
            <span asp-validation-for="Source" class="text-danger"></span>
        </div>

    </div>

    <div class="row mt-3">
        <div class="col-6">
            <label asp-for="Currency" class="form-label">Moeda</label>
            <select asp-for="Currency"
                    asp-items="@Html.GetEnumSelectList<CurrencyVM>()" 
                    class="form-control w-100 mt-2"></select>
        </div>

        <div class="col-6">
            <label asp-for="Value" class="form-label">Valor</label>
            <input asp-for="Value" class="form-control w-100 mt-2" 
                   type="number" />
            <span asp-validation-for="Value" class="text-danger"></span>
        </div>

    </div>

    <div class="row mt-3">
        <div class="col-12">
            <button type="submit" class="btn btn-primary me-2">Enviar</button>

            <a type="button"
               class="btn btn-danger"
               asp-controller="bill"
               asp-action="Index">Cancelar</a>
        </div>
    </div>

</form>