@model BillViewModel

<div class="modal fade" id="deleteModal-@Model.Id" tabindex="-1" aria-labelledby="modalLabel-@Model.Id" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel-@Model.Id">Confirmação de Exclusão de Despesa - @Model.Name</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <h5 style="text-align: center">Tem certeza que deseja excluir a despesa?</h5>
                <h6 class="alert-danger" style="color: red; padding-top: 10px; text-align: center;">AÇÃO IRREVERSÍVEL</h6>
            </div>
            <div class="modal-footer d-flex justify-content-center gap-3 w-100">
                <button type="button" style="font-size: 20px" class="btn btn-secondary flex-grow-1" data-bs-dismiss="modal">Não</button>
                <a type="button" style="font-size: 20px" asp-action="Delete" asp-controller="Bill" asp-route-id="@Model.Id" class="btn btn-danger flex-grow-1">Sim</a>
            </div>
        </div>
    </div>
</div>